@page "/"
@using Contentful.Core
@using MenulioPocWasm.Models;
@inject IContentfulClient _client;

<PageTitle>Home</PageTitle>

<h1>Credit Cards!</h1>

@if (creditCards != null)
{
    @foreach (var card in creditCards)
    {
        <h2>@card.Issuer</h2>
        <h2>@card.Fee</h2>
        <h2>@card.Type</h2>
    }
}
else
{
    <p>Loading...</p>
}

Welcome to your new app.

@code {
    private Contentful.Core.Models.ContentfulCollection<CreditCard>? creditCards;

    protected override async Task OnInitializedAsync()
    {
        await GetEntries();
    }

    private async Task GetEntries()
    {
        creditCards = await _client.GetEntries<CreditCard>();
    }
}
